@model WEB_353503_Sebelev.UI.Components.CartInfo

<a asp-controller="Cart" asp-action="Index" class="navbar-text ms-auto">
    @Model.TotalPrice.ToString("N2") руб <i class="bi bi-cart"></i> (@Model.ItemCount)
</a>