@inject IDataService DataService
@implements IDisposable


<div class="row row-cols-1 row-cols-md-3 g-4">
    <table>
        <th>Name</th>
        <th>Description</th>
        <tr>
            @foreach (var item in DataService.Books.Items)
            {
                <td>@item.Title</td>
                <td>@item.Description</td>
            }            
        </tr>
    </table>
    
</div>

@code {
    protected override void OnInitialized()
    {
        DataService.DataLoaded += StateHasChanged;
    }

    public void Dispose()
    {
        DataService.DataLoaded -= StateHasChanged;
    }
}