@inject IDataService DataService
@implements IDisposable

@if (DataService.Books.Items is null)
{
    <div class="alert alert-info" role="alert">
        <p>Книги не загружены</p>
    </div>   
}
else
{
    <table>
        <th>Name</th>
        <th>Description</th>
            @foreach (var item in DataService.Books.Items)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                </tr>
            }
    </table>
}

@code {
    protected override void OnInitialized()
    {
        DataService.DataLoaded += StateHasChanged;
    }

    public void Dispose()
    {
        DataService.DataLoaded -= StateHasChanged;
    }
}