@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject WEB_Lab13.UI.Services.Auth.AuthService AuthService

<AuthorizeView>
    <Authorized>
        Hello, @context.User.FindFirst("unique_name")?.Value!
        
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Log in</a>
        <a href="/register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    public async Task BeginLogOut()
    {
        await AuthService.Logout();
        
        Navigation.NavigateTo("/");
    }
}