@using WEB_Lab13.UI.Services.Auth
@inject AuthService AuthService
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Log in</a>
        <a href="/register">Register</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    public async Task BeginLogOut()
    {
        await AuthService.Logout();
        // Navigation.NavigateToLogout("authentication/logout");
    }
}
