@{
    var controller = ViewContext.RouteData.Values["controller"]?
                         .ToString()?
                         .ToLower()
                     ?? String.Empty;
}

<a class="navbar-brand nav-color" href="#">WebLabs_114</a>
            
<div class="navbar-nav">
    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link @(controller=="home"? "active" :"")">Lab1</a>
    <a asp-controller="Book" asp-action="Index" class="nav-item nav-link">Catalog</a>
    <a asp-area="Admin" asp-page="/Index" class="nav-item nav-link">Administration</a>
</div>
            
@await Component.InvokeAsync("Cart");
